{%macro cio_ignore(svols, ifaces) -%}
{% set cio_ignore_devnos = [] -%}
{% for svol in svols -%}
  {%if svol['type'] == 'DASD' -%}
    {% set _ = cio_ignore_devnos.append('!0.0.' + svol['volume_id']) -%}
  {% elif svol['type'] == 'FCP' -%}
     {% for adapter in svol['specs']['adapters'] -%}
       {% set _ = cio_ignore_devnos.append('!' + adapter['devno']) -%}
     {% endfor -%}
  {%- endif %}
{%- endfor -%}
{% for iface in ifaces -%}
  {% if iface['type'] == 'OSA' -%}
     {% set iface_devnos = iface['attributes']['ccwgroup'].split(',') -%}
     {% set _ = cio_ignore_devnos.append('!' + iface_devnos[0] + '-' + iface_devnos[2]) -%}
  {% endif -%}
{%- endfor -%}
cio_ignore=all,!condev,{{ cio_ignore_devnos | join(',') }}
{%- endmacro %}
{% if config["gw_iface"]["type"] == "OSA" %}
  {% set ccwgroup = config["gw_iface"]["attributes"]["ccwgroup"].split(',') %}
  {% set special_args %} {{cio_ignore(config['svols'], config['ifaces'])}} zfcp.dif=0 MANUAL=0 ReadChannel={{ccwgroup[0]}} WriteChannel={{ccwgroup[1]}} DataChannel={{ccwgroup[2]}} InstNetDev=osa Layer2={% if config["gw_iface"]["attributes"]["layer2"] %}1{% else %}0{% endif %} OSAHWAddr={% if config["gw_iface"]["mac_addr"] %}{{config["gw_iface"]["mac_addr"]}}{% endif %} OSAInterface=qdio OSAMedium=eth PortNo={{config["gw_iface"]["attributes"]["portno"]}} {% endset %}
{% else %}
  {% set special_args %}Netdevice={{config["gw_iface"]["mac_addr"]}}{% endset %}
{% endif %}
root=/dev/ram1 ro init=/linuxrc TERM=dumb UseVNC=1 HostIP={{ config["gw_iface"]["ip"] }} Netmask={{ config["gw_iface"]["mask"] }} Gateway={{ config["gw_iface"]["gateway"] }} HOSTNAME={{ config["hostname"] }} {% if config["gw_iface"]['vlan'] %}vlanid={{config["gw_iface"]["vlan"]}}{% endif %} Nameserver={{ config["gw_iface"]["dns_1"] }} linuxrclog=/dev/console VNCPassword={{config["credentials"]["vnc-password"]}} Install={{ config["repos"][0]['url'] }} UseSSH=1 SSHpassword={{config["credentials"]["admin-password"]}} start_shell autoyast={{ config["autofile"] }} {{special_args}}
